<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Metoda</th>
    <th scope="col">Časování</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
    @for (item of jobs; track item) {
      <tr>
        <td>{{ item.jobId }}</td>
        <td>
          @if (item.method == '1') { Full }
          @else if (item.method == '2') { Differential }
          @else if (item.method == '3') { Incremental }
          </td>
        <td>{{ item.timing }}</td>
        <td>
          <a routerLink="/job/{{ item.id }}"><i class="bi bi-eye"></i></a>
        </td>
      </tr>
    } @empty {
      <div class="d-flex align-items-center">
        <strong role="status">Načítání...</strong>
        <div class="spinner-border ms-auto" aria-hidden="true"></div>
      </div>
    }
  </tbody>
</table>
