<ul class="filters">
  <li>
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Job ID
      </a>

      <ul class="dropdown-menu">
        @for (item of jobs; track item) {
          <li><a class="dropdown-item" routerLink="/logs" [queryParams]="{ jobId: item.jobId }" queryParamsHandling="replace">{{ item.jobId }}</a></li>
        }
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" routerLink="/logs" queryParamsHandling="replace">Žádný</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Client ID
      </a>

      <ul class="dropdown-menu">
        @for (item of clients; track item) {
          <li><a class="dropdown-item" routerLink="/logs" [queryParams]="{ clientId: item.clientId }" queryParamsHandling="replace">{{ item.clientId }}</a></li>
        }
        <li><a class="dropdown-item" routerLink="/logs" queryParamsHandling="replace">Žádný</a></li>
      </ul>
    </div>
  </li>
</ul>
